<html>
    <head>
      <title> Iva zkousi Python</title>
    </head>
    <body>
        <div>
          <h1><a href=""> Iva zkousi Python</a></h1>
        </div>

        <div>
          <p>published: 11.6.2017, 16:55</p>
          <h2><a href="">První příspěvěk s diakritikou</a></h2>
          <p>Ahoj ja jsem Ivča a můj přítel David chtěl abych si vyzkoušela něco nového. Proto mě přihlásil na Python workshop a já se teď snažím něco naučit.</p>
        </div>

        <div>
            <p>published:11.6.2017, 17:00</p>
             <h2><a href="">Druhy prispevek</a></h2>
             <p>Zkousim Python a dari se mi prokousavat tutorialem z webu
        </div>
    </body>
</html>
